html {
    box-sizing: border-box;
    font-size: 62%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
   /*  background: linear-gradient(127deg,#BB6191, #8D8CC8); */
    background: url(https://images.unsplash.com/photo-1544306094-e2dcf9479da3) no-repeat;
    background-size: cover;
}
.title{
    display: flex;
    flex-direction: column; 
    justify-content: left;
    align-items: top;
    width: 90%;
    height: 20rem;
    /* padding: 0.3rem; */
    margin: auto;
}
#aleatory{
    color: #FFFFFF;
    text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
    color: #FFFFFF;
}
h1 {
    /* font-size: 4rem; */
    font-family: 'Zen Kaku Gothic New', sans-serif;
    letter-spacing: 0.5rem;
    font-size: 5rem;;
    color: #fff;
}
h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#name, #teamSize {
    padding: 2%;
    height: 50px;
    margin: 0% 5%;
    border-radius: 6px;
    border: 0px;
    width: 60%;
}
.generator{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    margin: 2rem auto;
    width: 90%;
    min-height: 30rem;
    height: fit-content;

}
.teams{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 2%;
    width: 90%; 
    margin: auto;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 6px;
    background-color: rgba(95, 158, 160, 0.5);
    backdrop-filter: blur(5px);
    min-height: 300px;
    margin-bottom: 5%;
    height: fit-content;
}
#people{
    border-radius: 6px;
    padding: 5%;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    background-color: rgba(95, 158, 160, 0.5);
    backdrop-filter: blur(5px);
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}
.section-generator{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
  /*  width: 50%; */
}
.row-create{
    /* display: flex; */
    display: grid;
    grid-template-columns: 2fr 2fr 1.5fr 1.5fr;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 2%;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 6px;
    background-color: rgba(95, 158, 160, 0.5);
    backdrop-filter: blur(5px);
    
}

.buttons {
    font-size: 1.4rem;
    height: 5rem;
    text-transform: uppercase;
    padding: 5%;
    margin: 0% 5%;
    border-radius: 6px;
    border: 0px;
    color: #fff;
    background: linear-gradient(127deg, #60B7FF, #8D8CC8);
    transition-duration: 0.4s;
}
.buttons :hover{
    background-color: #8D8CC8;
}

p,.legend, #name, #teamSize, .buttons{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: black;

}
#people {
    font-size: 1.6rem;
    min-height: 80%;
    min-width: 80%;
    max-width: max-content;
    height: max-content;
    overflow-y: auto;
    border: 0;
}
.new-div {
    display: flex;
    flex-direction: column;
    opacity: 60%;
    width: 20rem;
    height: 90%;
    align-items: flex-start;
    padding: 5%;
    margin: 2%;
   
}
#titleTeam{
    color:white;
    font-size: 20px;
    font-weight: bold;

}
