body{
    margin: 0%;
    padding: 0% 5%;
}
.title{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    padding: 2%;
    background-color: antiquewhite;
}
.generator{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 2%;
    margin: 2% 0%;
    width: 100%;
    height: 300px;
}
.teams{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 2%;
    width: 100%;
    height: 300px; 
}
.section-generator{
    display: flex;
    flex-direction: column;
    background-color:aquamarine;
    width: 50%;
    padding: 5%;
    margin: 2%;
}
.row-create{
    display: flex;
    flex-direction: row;
    background-color: cadetblue;
    width: 100%;
    padding: 2%;
    margin: 2%;
}
.n-team{
    display: flex;
    flex-direction: column;
    background-color: cyan;
    width: 200px;
    height: 100px;
    align-items: flex-start;
    padding: 5%;
    margin: 2%;
}

